.interface {
    background-color: red;
    width: 100%;
    height: calc(100vh - 4rem);
    overflow: hidden;
    display: flex;
    flex-direction: row;
}

.code-editor {
    width: 50%;
    height: 100%;
}

.code-output-box {
    background-color: blue;
    width: 50%;
}